.footer__nav-items {
    padding: 0;
    margin: 0;
}

/*375 768*/
@media screen and (min-width: 375px) and (max-width: 768px) {
    .footer__nav-items {
        display: flex;
        align-items: center;
    }
}

/*660*/
@media screen and (min-width: 320px) and (max-width: 660px) {
    .footer__nav-items {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }
}
