.content-title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    
    color: #FFFFFF;

    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}

/*375 768*/
@media screen and (min-width: 375px) and (max-width: 768px) {
    .content-title {
        font-size: 42px;
        line-height: 46px;
        max-width: 550px; 
    }
}

/*320 375*/
@media screen and (min-width: 320px) and (max-width: 375px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;
    }
}
