.page__header {
    margin: 0 auto;
    width: 82%;
}

/*1024 1280*/
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .page__header {
        width: 92%;
    }
}

/*320 1024*/
@media screen and (min-width: 320px) and (max-width: 1024px) {
    .page__header {
        width: 100%;
    }
}

/*375 768*/
@media screen and (min-width: 375px) and (max-width: 768px) {
    .page__header {
        width: 100%;
    }
}
